---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Imports ==============================

@import
  "base",
  "layout"
;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);


// Variables =============================

$base-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$chex-purple: #5E477D;
$light-purple: fade-out(#5e477d, 0.4);
$chex-pink: #f56252;


// Typography ============================

html,
body,
td,
p,
div,
h1 {
  font-family: $base-font;
}

h1,
.h1,
h2,
.h2 {
  font-weight: 200;
  line-height: 1.5em;
}

.text-weak {
  opacity: 0.75;
}

.dotted-underline {
  border-bottom: 2px fade-out(#000, 0.7) dashed;
  padding-bottom: 5px;
}

a,
a:link,
a:active,
a:visited {
  color: $chex-pink;
}

// Color utilities

.chex-purple { color: $chex-purple; }
.light-purple { color: $light-purple; }

.chex-pink { color: $chex-pink; }

// Background utilities

.bg-snow-chex {
	background: url(/images/snow-chex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

// Other utilities

.fade {opacity: 0.1;}
